html {
  scroll-behavior: smooth;
}

input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid rgb(148, 148, 148, 0.5);
  outline: none;
}

.editor {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgb(148, 148, 148, 0.5);
}

.write-blog-outer-box {
  align-items: center;
  padding: 50px;
}

.write-blog-inner-box {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.write-blog-inner-box label {
  font-size: 20px;
}
